version: 2

workflows:
  version: 2
  test:
    jobs:
      - test-9.6
      - test-10
      - test-11
      - test-12

jobs:
  test-9.6: &test-template
    working_directory: ~/postgres_dba
    docker:
      - image: postgres:9.6
        environment:
          - POSTGRES_VERSION: 9.6
    steps:
      - checkout
      - run:
          name: Init DB
          command: |
            pg_createcluster $POSTGRES_VERSION main
            echo 'local all all trust' > /etc/postgresql/$POSTGRES_VERSION/main/pg_hba.conf
            echo "shared_preload_libraries='pg_stat_statements'" >> /etc/postgresql/$POSTGRES_VERSION/main/postgresql.conf
            pg_ctlcluster $POSTGRES_VERSION main start
      - run:
          name: Prepare DB
          command: |
            psql -U postgres -c 'create database test'
            psql -U postgres test -c 'create extension pg_stat_statements'
            psql -U postgres test -c 'create extension pgstattuple'
            psql -U postgres test -c "create table align1 as select 1::int4, 2::int8, 3::int4 as more from generate_series(1, 100000) _(i);"
            psql -U postgres test -c "create table align2 as select 1::int4, 3::int4 as more, 2::int8 from generate_series(1, 100000) _(i);"
      - run:
          name: Tests
          command: |
            echo "\set postgres_dba_wide true" > ~/.psqlrc
            echo "\set postgres_dba_interactive_mode false" >> ~/.psqlrc
            for f in ~/postgres_dba/sql/*; do psql -U postgres test -f ~/postgres_dba/warmup.psql -f "$f">/dev/null; done
            echo "\set postgres_dba_wide false" > ~/.psqlrc
            echo "\set postgres_dba_interactive_mode false" >> ~/.psqlrc
            for f in ~/postgres_dba/sql/*; do psql -U postgres test -f ~/postgres_dba/warmup.psql -f "$f">/dev/null; done
            diff -b test/regression/0_node.out <(psql -U postgres test -f warmup.psql -f ~/postgres_dba/sql/0_node.sql | grep Role)
            diff -b test/regression/p1_alignment_padding.out <(psql -U postgres test -f warmup.psql -f ~/postgres_dba/sql/p1_alignment_padding.sql | grep align)
            diff -b test/regression/a1_activity.out <(psql -U postgres test -f warmup.psql -f ~/postgres_dba/sql/a1_activity.sql | grep User)
  test-10:
    <<: *test-template
    docker:
      - image: postgres:10
        environment:
          - POSTGRES_VERSION: 10
  test-11:
    <<: *test-template
    docker:
      - image: postgres:11
        environment:
          - POSTGRES_VERSION: 11
  test-12:
    <<: *test-template
    docker:
      - image: postgres:12
        environment:
          - POSTGRES_VERSION: 12
